body {
    background-color: rgb(210, 210, 221);
}

nav {
    background-color: rgb(150, 137, 137);
}

.portfolio  {
    height: 200px;
    width: 100%;
}

#footer {
    bottom: 0;
    width: 100%;
    height: 2rem;
}