body {
    background-image: url(http://getwallpapers.com/wallpaper/full/c/b/b/150970.jpg);
}

nav {
    background-color: rgb(130, 130, 130);
}

main {
    background-color: rgb(170, 170, 170);
}

.portfolio  {
    height: 300px;
    width: 100%;
}

@media only screen and (min-width: 700px) {
  .portfolio {
        height: 150px;
        width: 100%;
  }
}

@media only screen and (min-width: 900px) {
    .portfolio {
        height: 250px;
        width: 100%;
    }
}

#footer {
    width: 100%;
    height: 2rem;
    background-color: rgb(130, 130, 130);
}